.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.main{
    position: fixed;
    right: 0;
    top: calc( ((100px - 36px) / 2) + 36px);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1px #E2E8F0 solid;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.06);
}

.exitBlock{
    padding: 12px 8px;
    justify-self: end;
    align-self: flex-end;
}

.item{
    width: 240px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    border-radius: 8px;
}
.item:hover{
    background-color: #f5f3ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    color: black;
}
.item h2{
    font-size: 18px;
}

.copyAlert{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.purpleBlock:hover{
    background-color: #f5f3ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.greenBlock:hover {
    background-color: #dcfce7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.blueBlock:hover {
    background-color: #dbeafe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.orangeBlock:hover {
    background-color: #ffedd5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}