.customTextarea{
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  resize: vertical;
  min-height: 80px;
  background-color: white;
  color: black;
}