.main{
    width: 300px;
    box-sizing: border-box;
    padding: 35px 15px;
    background-color: white;
    border-right: 2px #f3f4f6 solid;
    height: 100%;
    overflow-y: auto;
    line-height: normal;
}
.main label{
    margin-top: 20px;
}

.headerLeftPanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftPanelChild{
    height: calc(100vh - 100px - 70px - 30px - 20px);
    overflow-y: auto;
    margin-top: 20px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.leftPanelChild::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
.leftPanelChild label{
    margin-top: 16px;
}

.light label{
    color: #1f2937;
}
.dark label{
    color: white;
}