.customSubmitButton {
  height: 40px;
  padding: 10px 0;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.customSubmitButton:hover {
  background-color: rgba(128, 0, 128, 0.832);
}
  