.mainOverlay{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formAuth{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 400px;
    padding: 32px;
    border: 3px purple solid;
    border-radius: 12px;
}