.editUserOverlay{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: calc(100% - 100px);
}

.formEditUser{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    border: 3px purple solid;
    border-radius: 12px;
    padding: 32px;
}

.infoBlock{
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;

}

.headerBlock{
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerBlock h1{
    font-size: 28px;
    font-weight: bold;
}

.displayInputLike{
    margin-top: 4px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
    background-color: #f0f0f0;
    color: #4a5568;
  }

.buttonBlock{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.buttonBlock button{
    width: 200px;
}


.light label{
    color: #1f2937;
}
.dark label{
    color: white;
}