.main{
    min-height: calc(100vh - 100px);
    padding: 30px 36px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card{
    width: 240px;
    height: 240px;
    border-radius: 12px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card:hover{
    background-color: #f5f3ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.purpleBlock:hover{
    background-color: #f5f3ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.greenBlock:hover {
    background-color: #dcfce7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.blueBlock:hover {
    background-color: #dbeafe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.orangeBlock:hover {
    background-color: #ffedd5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}