.main{
    min-height: calc(100vh - 100px);
    padding: 30px 36px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f9f9fb;
    color: black;
}

.isDarkMode {
    background-color: black
}

.isLightMode {
    background-color: #f9f9fb
}
