.cardMain {
    background-color: white;
    color: black;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    margin-bottom: 10px;
}

.title {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* максимум 1 рядок */
    -webkit-box-orient: vertical;
  }
  
  .description {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* максимум 2 рядки */
    -webkit-box-orient: vertical;
  }