.structure{
    min-height: 100vh;
    min-width: 100vw;
}

main{
    width: 100%; /* make paddings only when nav overlay is active */
}

.copyIcon {
    transition: transform 0.2s ease-out;
}

.copyIcon:active {
    transform: scale(0.7);
}
